<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">CoreApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-controller="Shop" asp-action="List" asp-route-category="list" class="nav-link">Ürünlerimiz</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="About" class="nav-link">Hakkımızda</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/cart" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">Orders</a>
                </li>

                if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">Admin Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/categories" class="nav-link">Admin Kategoriler</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/role/list" class="nav-link">Roller</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/user/list" class="nav-link">Kullanıcılar</a>
                    </li>
                }
            }
        </ul>

        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/account/manage" class="nav-link">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Çıkış</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Giriş</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Üye Ol</a>
                </li>
            }
        </ul>


    </div>
</div>