
core.business/bin/
core.business/obj/
core.entity/bin/
core.entity/obj/
core.data/bin/
core.data/obj/
core.webui/bin/
core.webui/obj/
core.business/bin/Debug/net5.0/core.business.dll
core.business/bin/Debug/net5.0/core.business.pdb
core.business/bin/Debug/net5.0/core.data.dll
core.business/bin/Debug/net5.0/core.data.pdb
core.business/bin/Debug/net5.0/core.entity.dll
core.business/bin/Debug/net5.0/core.entity.pdb
core.business/bin/Debug/net5.0/ref/core.business.dll
core.business/obj/Debug/net5.0/core.business.csproj.AssemblyReference.cache
core.business/obj/Debug/net5.0/core.business.csproj.CoreCompileInputs.cache
core.business/obj/Debug/net5.0/core.business.dll
core.business/obj/Debug/net5.0/core.business.pdb
core.business/obj/Debug/net5.0/ref/core.business.dll
core.entity/bin/Debug/net5.0/core.entity.dll
core.entity/bin/Debug/net5.0/core.entity.pdb
core.entity/bin/Debug/net5.0/ref/core.entity.dll
core.entity/obj/Debug/net5.0/core.entity.csproj.AssemblyReference.cache
core.entity/obj/Debug/net5.0/core.entity.dll
core.entity/obj/Debug/net5.0/core.entity.pdb
core.entity/obj/Debug/net5.0/ref/core.entity.dll
core.business/obj/Debug/net5.0/core.business.csproj.AssemblyReference.cache
core.business/obj/Debug/net5.0/core.business.csproj.CoreCompileInputs.cache
core.business/obj/Debug/net5.0/core.business.dll
core.business/obj/Debug/net5.0/core.business.pdb
core.business/obj/Debug/net5.0/ref/core.business.dll
core.webui/obj/Debug/net5.0/core.webui.csproj.CoreCompileInputs.cache
core.webui/obj/Debug/net5.0/core.webui.dll
core.webui/obj/Debug/net5.0/core.webui.pdb
core.webui/obj/Debug/net5.0/core.webui.Views.dll
core.webui/obj/Debug/net5.0/core.webui.Views.pdb
core.webui/obj/Debug/net5.0/ref/core.webui.dll
core.entity/obj/Debug/net5.0/core.entity.csproj.AssemblyReference.cache
core.data/obj/Debug/net5.0/core.data.csproj.AssemblyReference.cache
core.business/obj/Debug/net5.0/core.business.csproj.AssemblyReference.cache
core.webui/bin/Debug/net5.0/core.webui.Views.dll
core.webui/bin/Debug/net5.0/core.webui.Views.pdb
