@model ProductModel

<h1 class="h3">Ürün Oluştur</h1>
<hr>
<form id="productCreateForm" asp-controller="Admin" asp-action="ProductCreate" method="POST"
    enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <div class="form-group row m-2">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <input class="form-control" asp-for="Url" hidden>
            @* <div class="form-group row m-2">
                <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="Url">
                <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                </div> *@
            <div class="form-group row m-2">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2">
                <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input id="price" class="form-control" name="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2">
                <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="Stock" value="1">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>
            @* <div class="form-group row m-2">
                <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="ImageUrl">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                </div> *@
            <div class="form-group row m-2">
                <label asp-for="Images" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"> <input type="file" name="files" multiple="multiple"></div>

            </div>

            <div class="form-group row m-2">
                <div class="col-sm-10 offset-sm-2">
                    @* <button onclick="dotToComma()" class="btn btn-primary">Save Product</button> *@
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            @if (ViewBag.Categories != null)
            {
                foreach (var item in (List<Category>)ViewBag.Categories)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="categoryIds" value="@item.CategoryId"
                    id="category_@(item.CategoryId)">
                        <label class="custom-control-label" for="category_@(item.CategoryId)">@item.Name</label>
                    </div>
                }
            }
            <hr>
            <div class="custom-control custom-checkbox">
                <input asp-for="IsApproved" type="checkbox" class="custom-control-input">
                <label asp-for="IsApproved" class="custom-control-label"></label>
            </div>

            <div class="custom-control custom-checkbox">
                <input asp-for="IsHome" type="checkbox" class="custom-control-input">
                <label asp-for="IsHome" class="custom-control-label"></label>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="/modules/jquery-validation/dist/localization/messages_tr.js"></script>
<script src="/modules/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>
<script>

    function dotToComma() {
        event.preventDefault();
        var price = document.getElementById("price").value.replace(".", ",");
        document.getElementById("price").value = price;
        document.getElementById("productCreateForm").submit();
    }
</script>
}